<div class="py-20">
  <div class="px-20 grid grid-cols-12">
    <h3 class="text-[64px]/[1.1] titleVagas titillium-web-bold col-start-1 col-span-12">
      5.168 vagas<br aria-hidden="true" />
      <span class="paragraphVagas">esperando por você</span>
    </h3>
    <p class="paragraphVagas col-start-1 col-span-12 md:col-span-2 mt-4 text-xl">
      Dados da <a class="underline linkColor">Gupy</a>
    </p>
    <h4 class="paragraphVagas text-5xl titillium-web-bold col-span-7 col-start-1 mt-12">
      Diversas áreas de atuação
    </h4>
    <div class="mt-12 md:col-span-2 md:col-start-11 col-span-12">
      <div class="flex justify-end gap-3">
        <button class="bg-zinc-50 rounded-4xl px-5 py-4">
          <img src="/icons/Vector.svg" alt="seta direita" />
        </button>
        <button class="bg-zinc-50 rounded-4xl px-5 py-4">
          <img src="/icons/Vector.svg" alt="seta direita" />
        </button>
      </div>
    </div>
  </div>
  <div class="carousel-container my-4">
    @for (item of items; track $index) {
    <app-card-carrers class="carousel-card" [card]="item" />
    }
  </div>
</div>
