.carousel-container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: scroll;
  display: flex;
  gap: 24px;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-card {
  scroll-snap-align: center;
}

.spacer {
  width: 0.1px;
  scroll-snap-align: end;
}
