$brand-uniasselvi-primitives: (
  // Yellow (primary)
  color-yellow-100: #fffeee,
  color-yellow-300: #fff8b0,
  color-yellow-500: #ffea00,
  color-yellow-700: #e7d300,
  color-yellow-900: #cebd00,

  // Teal (secondary)
  color-teal-100: #e9f3f2,
  color-teal-300: #b5e1db,
  color-teal-500: #00a6a6,
  color-teal-700: #008f8f,
  color-teal-900: #006666,

  // Aqua / Accent
  color-aqua-100: #f3fbfa,
  color-aqua-300: #d8f5f2,
  color-aqua-500: #05dfcd,
  color-aqua-700: #00ccc2,
  color-aqua-900: #00a6a3,

  // Neutral greys
  color-grey-100: #eceeee,
  color-grey-200: #dee0e0,
  color-grey-300: #cfd3d3,
  color-grey-400: #bbc0c0,
  color-grey-500: #979c9c,
  color-grey-600: #616867,

  // Core white / black
  color-white: #ffffff,
  color-black: #000000,

  // Azure (informative)
  color-azure-100: #dceefa,
  color-azure-300: #afd8ee,
  color-azure-500: #4fa8e1,
  color-azure-700: #2d8ac4,
  color-azure-900: #172b4d,

  // Green
  color-green-100: #cdf6ea,
  color-green-300: #84d5af,
  color-green-500: #3dc39a,
  color-green-700: #03885f,
  color-green-900: #00281c,

  // Amber
  color-amber-100: #ffebd1,
  color-amber-300: #ffc67c,
  color-amber-500: #eea84c,
  color-amber-700: #ad6500,
  color-amber-900: #442701,

  // Crimson
  color-crimson-100: #ffdcd4,
  color-crimson-300: #f09d9a,
  color-crimson-500: #d95538,
  color-crimson-700: #9c2308,
  color-crimson-900: #400d01,

  // Peach
  color-peach-100: #fffaf5,
  color-peach-300: #ffeedb,
  color-peach-500: #ffe4c6,
  color-peach-700: #ffba6b,
  color-peach-900: #e29b43,

  // Lemon
  color-lemon-100: #fefdec,
  color-lemon-300: #fdfad8,
  color-lemon-500: #faf298,
  color-lemon-700: #e5d20b,
  color-lemon-900: #4e4804,

  // Mint
  color-mint-100: #e5ffe7,
  color-mint-300: #ccffcf,
  color-mint-500: #b6ffbb,
  color-mint-700: #73e57b,
  color-mint-900: #24b22e,

  // Lilac
  color-lilac-100: #fbf0ff,
  color-lilac-300: #f5e4fc,
  color-lilac-500: #efd4fa,
  color-lilac-700: #d07ff0,
  color-lilac-900: #a83fd1,

  // Additional greys (700-900)
  color-grey-700: #3c3f40,
  color-grey-800: #242627,
  color-grey-900: #101111,

  // Opacity
  opacity-white-0: #ffffff00,
  opacity-black-0: #00000000
);
