$brand-unicesumar-primitives: (
  // Navy Colors
  color-navy-100: #ddf2ff,
  color-navy-300: #5fb8fc,
  color-navy-500: #0084da,
  color-navy-700: #023860,
  color-navy-900: #0e3043,

  // Blue Colors
  color-blue-100: #eaf6fe,
  color-blue-300: #b1e2ff,
  color-blue-500: #246bf7,
  color-blue-700: #0a4694,
  color-blue-900: #07233e,

  // Cyan Colors
  color-cyan-100: #ebf9fc,
  color-cyan-300: #b3e9f5,
  color-cyan-500: #4bdeff,
  color-cyan-700: #2f96be,
  color-cyan-900: #033a52,

  // Grey Colors
  color-grey-100: #edf1f2,
  color-grey-200: #e1e6e8,
  color-grey-300: #cad0d3,
  color-grey-400: #aab1b5,
  color-grey-500: #979c9c,
  color-grey-600: #66747e,
  color-grey-700: #3c3f40,
  color-grey-800: #242627,
  color-grey-900: #101111,

  // White and Black
  color-white: #ffffff,
  color-black: #101214,

  // Azure Colors
  color-azure-100: #daebf6,
  color-azure-300: #8bc2e5,
  color-azure-500: #3e9ad3,
  color-azure-700: #1e5e85,
  color-azure-900: #0a202e,

  // Green Colors
  color-green-100: #d8f3e5,
  color-green-300: #87d8ad,
  color-green-500: #3dbd79,
  color-green-700: #247047,
  color-green-900: #0c2719,

  // Amber Colors
  color-amber-100: #fdf3d8,
  color-amber-300: #fadb8f,
  color-amber-500: #ffb700,
  color-amber-700: #b48409,
  color-amber-900: #3a2b03,

  // Crimson Colors
  color-crimson-100: #f7d9d9,
  color-crimson-300: #e78888,
  color-crimson-500: #d73938,
  color-crimson-700: #881b1b,
  color-crimson-900: #400d01,

  // Rose Colors
  color-rose-100: #fdf7f7,
  color-rose-300: #f8e8e7,
  color-rose-500: #f4d9d7,
  color-rose-700: #f4aba6,
  color-rose-900: #f0746c,

  // Violet Colors
  color-violet-100: #f8f7fd,
  color-violet-300: #e7e1f9,
  color-violet-500: #d8cef5,
  color-violet-700: #ac93f5,
  color-violet-900: #7f58f5,

  // Sand Colors
  color-sand-100: #fdf9f2,
  color-sand-300: #f7ebd4,
  color-sand-500: #f2dfb8,
  color-sand-700: #e3bd70,
  color-sand-900: #e0ac42,

  // Aqua Colors
  color-aqua-100: #f3f9fc,
  color-aqua-300: #ebf4f9,
  color-aqua-500: #cae3f0,
  color-aqua-700: #84bddc,
  color-aqua-900: #387fa5,

  // Opacity
  opacity-white-0: #ffffff00,
  opacity-black-0: #00000000
);
