<div class="p-4 md:p-20">
  <div class="grid grid-cols-12">
    <div class="col-span-12 md:col-span-5 md:col-start-2 paragraphVagas">
      <h3 class="text-[64px]/[1.1] titillium-web-bold">1ª aula gratuita</h3>
      <p class="mt-4 text-[20px]">
        Dê o primeiro passo para transformar sua carreira. Conheça a pós-graduação UNIASSELVI com
        uma aula gratuita e exclusiva.
      </p>
    </div>
    <div class="mt-6 md:mt-12 col-span-12 md:col-start-8 md:col-span-4 border-black">
      <label for="classFree">
        <span class="paragraphVagas">Label</span>
        <input
          type="text"
          id="classFree"
          placeholder="placeholder"
          class="rounded-lg w-full h-12 border border-black p-3 bg-[#FFFFFF]"
        />
      </label>
      <button class="rounded-4xl mt-2.5 px-4 py-2 bg-black text-white w-full">Label</button>
    </div>
    <div class="grid col-span-10 rounded-2xl p-9 md:py-22 md:px-0 col-start-2 mt-12 bg-[#FFFFFF]">
      <h4
        class="justify-self-center text-2xl sm:text-3xl md:text-5xl lg:text-[64px]/[1.1] titillium-web-bold"
      >
        Facilidades para você
      </h4>
      <div class="mt-10">
        <div class="flex gap-6 justify-around flex-wrap">
          <div class="flex">
            <div
              class="button-border-radius w-[64px] h-[64px] bg-secondary-500 flex align-center justify-center mr-6"
            >
              <img
                src="/icons/direction.svg"
                class="scale-[0.7] px-4 py-4 text-lg"
                alt="seta direita"
              />
            </div>
            <div class="w-[209px]">
              <h4 class="text-xl titillium-web-bold">Estrutura</h4>
              <p class="text-sm mt-1 flex flex-wrap">
                Ambientes preparados para seu desenvolvimento profissional.
              </p>
            </div>
          </div>
          <div class="flex">
            <div
              class="button-border-radius w-[64px] h-[64px] bg-secondary-500 flex align-center justify-center mr-6"
            >
              <img
                src="/icons/direction.svg"
                class="scale-[0.7] px-4 py-4 text-lg"
                alt="seta direita"
              />
            </div>
            <div class="w-[209px]">
              <h4 class="text-xl titillium-web-bold">Estrutura</h4>
              <p class="text-sm mt-1 flex flex-wrap">
                Ambientes preparados para seu desenvolvimento profissional.
              </p>
            </div>
          </div>
        </div>
        <div class="flex gap-6 justify-around flex-wrap mt-6 lg:mt-10">
          <div class="flex">
            <div
              class="button-border-radius w-[64px] h-[64px] bg-secondary-500 flex align-center justify-center mr-6"
            >
              <img
                src="/icons/direction.svg"
                class="scale-[0.7] px-4 py-4 text-lg"
                alt="seta direita"
              />
            </div>
            <div class="w-[209px]">
              <h4 class="text-xl titillium-web-bold">Estrutura</h4>
              <p class="text-sm mt-1">
                Ambientes preparados para seu desenvolvimento profissional.
              </p>
            </div>
          </div>
          <div class="flex">
            <div
              class="button-border-radius w-[64px] h-[64px] bg-secondary-500 flex align-center justify-center mr-6"
            >
              <img
                src="/icons/direction.svg"
                class="scale-[0.7] px-4 py-4 text-lg"
                alt="seta direita"
              />
            </div>
            <div class="w-[209px]">
              <h4 class="text-xl titillium-web-bold">Estrutura</h4>
              <p class="text-sm mt-1 flex flex-wrap">
                Ambientes preparados para seu desenvolvimento profissional.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
