<div class="p-4 md:p-20">
  <div class="grid grid-cols-12">
    <div class="col-span-12 lg:col-span-5 lg:col-start-2 paragraphVagas">
      <h3 class="text-[32px]/[1.1] md:text-[64px]/[1.1] titillium-web-bold">1ª aula gratuita</h3>
      <p class="mt-6 md:mt-4 text-base md:text-[20px]">
        Dê o primeiro passo para transformar sua carreira. Conheça a pós-graduação UNIASSELVI com
        uma aula gratuita e exclusiva.
      </p>
    </div>
    <div class="mt-6 md:mt-12 col-span-12 lg:col-start-8 lg:col-span-4 border-black">
      <label for="classFree">
        <span class="paragraphVagas">Label</span>
        <input
          type="text"
          id="classFree"
          placeholder="placeholder"
          class="rounded-lg w-full h-12 border border-black p-3 bg-[#FFFFFF]"
        />
      </label>
      <button class="border-button bg-button-color button-border-radius mt-2.5 px-4 py-2 text-white w-full">Label</button>
    </div>
    <div class="grid col-span-12 md:col-span-10 rounded-2xl p-8 md:py-22 md:px-0 md:col-start-2 mt-5 md:mt-12 bg-white">
      <h4
        class="justify-self-center text-2xl sm:text-3xl lg:text-[64px]/[1.1] titillium-web-bold fontColorsPrimarytitle"
      >
        Facilidades para você
      </h4>
      <div class="mt-10 flex flex-col gap-5 lg:grid lg:grid-cols-2">
        @for (item of classFreeItens; track $index) {
        <div class="flex flex-row justify-center">
          <div>
            <div
              class="button-border-radius w-[52px] h-[52px] md:w-[64px] md:h-[64px] bg-secondary-500 flex align-center justify-center mr-4 md:mr-6"
            >
              <img
                [src]="item.icon"
                class="scale-[0.7] px-4 py-4 text-lg"
                alt="seta direita"
              />
            </div>
          </div>
          <div class="md:max-w-[209px]">
            <h4 class="text-base md:text-xl titillium-web-bold fontColorsPrimarytitle">{{item.title}}</h4>
            <p class="text-sm mt-1 flex flex-wrap fontColorsPrimarytitle">
              {{item.text}}
            </p>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
